# Dependencies
node_modules/
.pnp
.pnp.js

# Next.js build output
.next/
out/

# Flutter build output
mobile_app/build/
mobile_app/.dart_tool/
mobile_app/.packages
mobile_app/.pub-cache/
mobile_app/.pub/

# Environment variables (Secrets)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
